/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 0.05rem solid #fff;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: rgb(4, 4, 2);
  overflow: hidden;
}

/* Header Parallax Element Style*/
.paral {
  min-height: 1000px;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
}

/* Jumbotron for Parallax Section */

.jumbotron {
  margin-bottom: 0;
}

/* Paragrapgh for Parallax Section */
.paral p,
.paral label {
  font-size: 24px;
  text-align: center;
  line-height: 60px;
}

/* Heading for Parallax Section */
.paral h1 {
  color: rgba(255, 255, 255);
  font-size: 60px;
  text-align: center;

  line-height: 100px;
}

/* Image for Parallax Section */
.paralsec {
  background-image: url("../images/letters.jpg");
}

/* Cards */

.card {
  opacity: 0.8;
}

/* Forms */
form {
  opacity: 1;
  margin: auto;
}

@media (max-width: 960px) {
  body {
    overflow-y: auto;
  }

  .paral {
    background-position: 45% 50%;
  }
}
