{% extends "index.html" %} {% block head %} {{super()}} {% block title %} Find
{% endblock %} {% endblock %} {% block main_heading %} Find {% endblock %} {%
block main_description %} Type body of text and find all single anagrams in it!
{% endblock %} {% block content %}
<div class="col-md-2"></div>
<div class="col-md-8 card bg-light text-dark">
  <div class="card-body" id="find-card">
    <div id="alert-div" class="col-md-12"></div>
    <form class="form-group col-md-8" id="find-form">
      <div class="form-group">
        <label for="corpus">Type text below</label>
        <textarea
          id="corpus-textarea"
          class="form-control"
          name="corpus"
          rows="3"
        ></textarea>
      </div>

      <button type="button" class="btn btn-primary" id="find-btn">
        Find Anagrams!
      </button>
    </form>
    <div id="find-result"></div>
  </div>
</div>
{% endblock %} {% block template_script%} {{super()}}
<!-- load the d3.js library -->
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="../static/js/find.js"></script>

{% endblock %}
