<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Anagrams</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/style.css')}}"
    />
  </head>
  <body>
    <div class="jumbotron paral paralsec">
      <h1>Anagrams</h1>
      <p class="text-white">Compare or find Anagrams!</p>
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4 card bg-light text-dark">
            <div class="card-header">
              <h2>Determine if any two words are anagrams</h2>
            </div>
            <div class="card-body" id="compare-card-body">
              <div id="alert-div" class="col-md-12"></div>
              <form class="form-group col-md-6" id="compare-form">
                <label for="firstWord">First Word</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter first word"
                  id="compare-first-word"
                  name="firstWord"
                />
                <label for="secondWord">Second Word</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter second word"
                  id="compare-second-word"
                  name="secondWord"
                />
                <button
                  type="button"
                  id="compare-btn"
                  class="btn btn-primary mt-3"
                >
                  Compare!
                </button>
              </form>
            </div>
          </div>
          <div class="col-md-4"></div>
          <div class="col-md-4 card bg-light text-dark">
            <div class="card-header">
              <h2>Find all anagrams in any body of text!</h2>
            </div>
            <div class="card-body">
              <form
                class="form-group col-md-6"
                id="find-form"
                action="/api/anagrams/find"
                method="post"
              >
                <div class="form-group">
                  <label for="corpus">Text</label>
                  <textarea
                    id="corpus-textarea"
                    class="form-control"
                    name="corpus"
                    rows="3"
                  ></textarea>
                </div>

                <button type="submit" class="btn btn-primary">
                  Find Anagrams!
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../static/js/index.js"></script>
  </body>
</html>
